[Unit]
Description=Immich Docker Compose Service
Requires=docker.service immich-rclone@xx8.service
After=docker.service immich-rclone@xx8.service
BindsTo=immich-rclone@xx8.service

[Service]
Type=simple
Environment=IMMICH_DIR=/home/hritik/Projects/immich/immich
ExecStart=/usr/bin/docker compose -f ${IMMICH_DIR}/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f ${IMMICH_DIR}/docker-compose.yml down
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target
