[Unit]
Description=Immich Application Stack
Requires=immich-rclone@b2.service \
immich-rclone@alpha.service \
immich-rclone@beta.service  \
immich-rclone@gamma.service \
immich-rclone@delta.service \
immich-rclone@zeta.service  \
immich-rclone@xx8.service   \
immich-rclone@elf.service   \
immich-rclone-shared@hey.service   \
immich-docker.service
Before=immich-docker.service

[Install]
WantedBy=multi-user.target
