[Unit]
Description=Rclone mount for %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=MOUNT_DIR=/home/dietpi/immich/mounts/%i
User=dietpi
Group=dietpi
ExecStartPre=/bin/mkdir -p ${MOUNT_DIR}
ExecStart=/usr/bin/rclone mount %i: ${MOUNT_DIR} --allow-other --vfs-cache-mode minimal
# --vfs-cache-mode full --vfs-cache-min-free-space 10G
ExecStop=/bin/fusermount -u ${MOUNT_DIR}/bb
KillMode=process

[Install]
WantedBy=multi-user.target
